.newsli-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  background: #f4f4f4;
  //border-radius: 0 5px 5px 0;
}

.newsli-image-container {
  width: 38%;
}

.newsli-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  //border-radius: 5px 0 0 5px;
}

.newsli-content {
  width: 60%;
  padding: 1rem;
}

.newsli-heading {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.newsli-link {
  color: #006acc;
  text-decoration: none;
}

.newsli-link:hover {
  color: #148eff;
}

.newsli-meta {
  color: #555;
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}

/* @media (max-width: 500px) {
  .newsli-item {
    flex-direction: column;
    border-radius: 0 0 5px 5px;
  }

  .newsli-image-container {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .newsli-content {
    width: 100%;
  }

  .newsli-image {
    border-radius: 5px 5px 0 0;
  }
} */
