.quote__price-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.quote__price {
  font-size: 2rem;
  font-weight: 900;
}

.quote__change-container {
  display: flex;
}

.quote__change,
.quote__percent-change {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 0.5rem;
}

.quote__name-container {
  display: flex;
  align-items: center;
}

.quote__name {
  font-size: 1rem;
  font-weight: 700;
}

.quote__exchange {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

@media (max-width: 450px) {
  .quote__price {
    font-size: 1.7rem;
  }

  .quote__change,
  .quote__percent-change {
    font-size: 1.3rem;
  }
}

@media (max-width: 380px) {
  .quote__price-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .quote__change {
    margin-left: 0;
  }

  .quote__name-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .quote__exchange {
    margin-left: 0;
  }
}
