.header-warning {
  background: #006acc;
  color: white;
  text-align: center;
  line-height: 1.2rem;
  letter-spacing: 1px;
  font-size: 0.85rem;
  font-weight: 300;
  padding: 0.5rem 0;
}

.header-warning__icon {
  transform: scale(1.25);
  margin-left: 0.5rem;
}

.tooltip {
  position: absolute !important;
  left: 0 !important;
  width: 100% !important;
}
