.main-nav {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

@media (max-width: 700px) {
  .main-nav {
    grid-auto-flow: row;
    gap: 0.5rem;
  }
}
