.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fafafa;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.header__container {
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: auto auto auto;
}

.header__logo {
  justify-self: flex-start;
  text-decoration: none;
  text-transform: uppercase;
  color: #006acc;
  font-weight: 700;
  font-size: 1.5rem;
}

.header__logo,
.header__hamburger {
  height: 30px;
  transition: 300ms;
  transform-origin: bottom;
  margin-bottom: 0.5rem;
}

.header__nav-container {
  grid-column: 1 / 4;
}

.header__watchlist-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.header__hamburger {
  display: none;
}

@media (max-width: 700px) {
  .header__container {
    padding-top: 0;
  }
  .header__logo {
    grid-column: 1;
    margin-top: 0.5rem;
  }

  .header__search-container {
    grid-column: 1/4;
  }

  .header__hamburger {
    grid-row: 1;
    grid-column: 3;
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: auto;
    margin-top: 0.5rem;
  }

  .header__watchlist-container {
    display: inline-block;
    padding: 1rem 0;
  }

  .scroll-down {
    height: 0px;
    font-size: 0;
    margin-bottom: 0;
  }

  .header--hidden {
    display: none;
  }
}
