.search-filter__container {
  margin-bottom: 1rem;
}

.search-filter__toggle {
  margin-bottom: 1rem;
}

.search-filter__hr {
  margin-bottom: 1rem;
  background-color: #ccc;
  height: 1px;
  border: none;
}

.search-filter__form {
  margin-bottom: 1rem;
}

.search-filter__label {
  font-size: 0.8rem;
}

.search-filter__input {
  margin-right: 0.5rem;
}

.search-filter__inputs {
  display: grid;
  grid-template-columns: repeat(5, auto);
  row-gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.search-filter__btn {
  padding: 0.5em 0.75em;
  cursor: pointer;
  border: none;
  background: #ddd;
}

.search-filter__btn.submit {
  background: #006acc;
  color: white;
}

.search-filter__btn:hover {
  background: #ccc;
}

.search-filter__btn.submit:hover {
  background: #148eff;
}

@media (max-width: 700px) {
  .search-filter__inputs {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 400px) {
  .search-filter__inputs {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 300px) {
  .search-filter__inputs {
    grid-template-columns: repeat(1, auto);
  }
}
