.quote-nav {
  margin-bottom: 1rem;
}

.quote-nav__ul {
  list-style: none;
  display: flex;
  position: relative;
  overflow: auto;
}

.quote-nav__li {
  border: 1px solid #ccc;
}

.quote-nav__li + .quote-nav__li {
  border-left: none;
}

.quote-nav__btn {
  padding: 0.5rem 1.5rem;
  color: black;
  font-weight: 300;
  font-size: 0.8rem;
  background: white;
  border: none;
}

.quote-nav__btn:focus {
  outline: none;
}

.quote-nav__btn--active {
  background: #ccc;
}

.quote-nav__btn--inactive:hover {
  background: #eee;
  cursor: pointer;
}
