.btn-bar-one {
  list-style: none;
  display: flex;
}

.btn-bar-one__btn {
  cursor: pointer;
  background: none;
  padding: 0.25rem 0.5rem;
  border: 1px solid grey;
}

.btn-bar-one__btn:disabled {
  cursor: default;
  color: white;
  background: #148eff;
}

.btn-bar-one__li + .btn-bar-one__li .btn-bar-one__btn {
  border-left: none;
}
