.quote-timeframe {
  display: flex;
  margin-bottom: 0.5rem;
}

.quote-timeframe__btn {
  cursor: pointer;
  background: none;
  border: 1px solid grey;
  padding: 0.25rem 0.5rem;
}

.quote-timeframe__btn:hover {
  background: #eee;
}

.quote-timeframe__btn + .quote-timeframe__btn {
  border-left: none;
}

.quote-timeframe__btn:disabled {
  cursor: default;
  color: white;
  background: #148eff;
  border: 1px solid #148eff;
}
