.quote-financials-nav__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.quote-financials-nav__btn {
  cursor: pointer;
  background: none;
  border: 1px solid grey;
  padding: 0.25rem 0.5rem;
}

.quote-financials-nav__btn:hover {
  background: #eee;
}

.quote-financials-nav__btn + .quote-financials-nav__btn {
  border-left: none;
}

.quote-financials-nav__btn:disabled {
  cursor: default;
  color: white;
  background: #148eff;
  border: 1px solid #148eff;
}

@media (max-width: 600px) {
  .quote-financials-nav__container {
    flex-direction: column;
  }
  .quote-financials-nav__statement-nav {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 375px) {
  .quote-financials-nav__statement-nav,
  .quote-financials-nav__period-nav {
    display: flex;
    flex-direction: column;
  }
  .quote-financials-nav__btn + .quote-financials-nav__btn {
    border: 1px solid grey;
    margin-top: -1px;
  }
}
