.bottom-news {
  margin-top: 1rem;
}

.bottom-news__ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 800px) {
  .bottom-news__ul {
    grid-template-columns: 1fr;
  }
}
