.main-news-item {
  display: block;
  margin-bottom: 1rem;
  text-decoration: none;
  transition: transform 300ms;
}

.main-news-item:hover {
  transform: scale(1.0125);
}

.main-news-item__image {
  width: 100%;
  padding-top: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main-news-item__content {
  align-self: flex-end;
  background: rgba(0, 2, 69, 0.8);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-news-item__heading {
  margin-bottom: 0.5rem;
}

.main-news-item__heading a {
  color: white;
  text-decoration: none;
}

.main-news-item__heading a:hover {
  color: #ddd;
  text-decoration: none;
}

.main-news-item__meta {
  color: #ccc;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.main-news-item__description {
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .main-news-item__heading {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .main-news-item__heading {
    font-size: 1.3rem;
  }
}
