.results-page-btns {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.results-page-btn {
  display: inline-block;
  padding: 0.5em 0.75em;
  cursor: pointer;
  border: none;
  background: #ddd;
}

.results-page-btn:first-child {
  margin-left: auto;
}

.results-page-btn + .results-page-btn {
  margin-right: auto;
}

.results-page-btn:disabled {
  background: #bbb;
  cursor: default;
}

.results-page-btn:hover {
  background: #ccc;
}
