.pricelist {
  list-style: none;
  padding: 1rem 0.5rem;
  background: rgba(224, 230, 255, 0.5);
}

.pricelist-item + .pricelist-item {
  margin-top: 2rem;
}

.pricelist-heading {
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}

.pricelist-link {
  color: #006acc;
  text-decoration: none;
}

.pricelist-link:hover {
  color: #148eff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  font-size: 0.85rem;
  font-weight: 300;
}

td {
  font-size: 1rem;
}

th,
td {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}

th + th,
td + td {
  padding-left: 1.5rem;
}

.symbol-link {
  color: #006acc;
  text-decoration: none;
}

.symbol-link:hover {
  text-decoration: underline;
}

.loading-pricelist-td {
}

.loading-pricelist-td-content {
  padding: 0.5rem 0;
  background: #ddd;
  border-radius: 5px;
}

.watchlist-empty-msg {
  text-align: center;
  position: relative;
  top: 40%;
}

@media (max-width: 1000px) {
  .pricelist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  .pricelist-item + .pricelist-item {
    margin-top: 0rem;
  }
}

@media (max-width: 830px) {
  .pricelist {
    display: block;
  }

  .pricelist-item + .pricelist-item {
    margin-top: 2rem;
  }
}

@media (max-width: 425px) {
  td {
    font-size: 0.87rem;
  }
}
