.quote-container {
  margin-bottom: 1rem;
}

.quote-price-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.quote-price {
  font-size: 2rem;
  font-weight: 900;
}

.quote-change-container {
  display: flex;
}

.quote-change,
.quote-percent-change {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 0.5rem;
}

.quote-name-container {
  display: flex;
  align-items: center;
}

.quote-name {
  font-size: 1rem;
  font-weight: 700;
}

.quote-exchange {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

@media (max-width: 450px) {
  .quote-price {
    font-size: 1.7rem;
  }

  .quote-change,
  .quote-percent-change {
    font-size: 1.3rem;
  }
}

@media (max-width: 380px) {
  .quote-price-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .quote-change {
    margin-left: 0;
  }

  .quote-name-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .quote-exchange {
    margin-left: 0;
  }
}
