.search-results-page {
  margin: 1rem 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (max-width: 700px) {
  .search-results {
    grid-template-columns: auto;
  }
}
