.search-bar {
  display: flex;
}

.search-bar__input {
  width: 100%;
  padding: 0.5rem;
  outline: none;
  border: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-bar__link {
  display: flex;
  text-decoration: none;
  width: 20%;
}

.search-bar__btn {
  background: #148eff;
  width: 100%;
  display: inline-block;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-bar__btn:hover {
  background: #006acc;
  cursor: pointer;
}

.search-bar__icon {
  color: white;
  font-size: 1rem;
}

@media (max-width: 700px) {
  .search-bar {
    align-self: start;
    margin-bottom: 0.5rem;
    width: 100%;
  }
}
