.bottom-news-item__link {
  color: #222;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  background: #eee;
  height: 100%;
  transition: transform 300ms;
  border-radius: 5px;
}

.bottom-news-item__link:hover {
  transform: scale(1.025);
}

.bottom-news-item__item--loading {
  width: 100%;
  background: #ddd;
  border-radius: 10px;
}

.bottom-news-item__image-container {
  width: 30%;
}

.bottom-news-item__image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.bottom-news-item__content {
  width: 69%;
  padding: 0.5rem;
}

.bottom-news-item__heading {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.bottom-news-item__meta {
  color: #555;
  font-size: 0.9rem;
}

.bottom-news-item__date {
  font-style: italic;
}

.bottom-news-item__text {
  margin-top: 0.5rem;
  font-size: 0.85rem;
}
