.chart-timeframe {
  display: flex;
  margin-bottom: 0.5rem;
}

.chart-timeframe-btn {
  cursor: pointer;
  background: none;
  border: 1px solid grey;
  padding: 0.25rem 0.5rem;
}

.chart-timeframe-btn + .chart-timeframe-btn {
  border-left: none;
}

.chart-timeframe-btn:disabled {
  cursor: default;
  color: white;
  background: #148eff;
  border: 1px solid #148eff;
}

@media (max-width: 440px) {
  .chart {
    display: flex;
  }
  .chart-timeframe {
    margin-bottom: 0;
    margin-right: 0.5rem;
    flex-direction: column;
  }
  .chart-timeframe-btn {
    border-bottom: 1px solid grey;
  }
  .chart-timeframe-btn + .chart-timeframe-btn {
    border-left: 1px solid grey;
    border-top: none;
  }
}
