.quote-sub-heading {
  display: inline-block;
  margin-bottom: 1rem;
  position: relative;
  font-weight: 400;
}

.quote-sub-heading::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  background: #006acc;
  width: 80%;
  height: 3px;
}

.quote-news-container {
  margin-top: 1rem;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}
