.quote-summary-table-container {
  display: flex;
  width: 100%;
}

.quote-summary-table + .quote-summary-table {
  margin-left: 1rem;
}

.quote-summary-table {
  display: flex;
  width: 100%;
}

.quote-summary-tbody,
.quote-summary-thead,
.quote-summary-tr {
  display: block;
  width: 100%;
}

.quote-summary-th,
.quote-summary-td {
  height: 2rem;
  background: #eee;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.quote-summary-th + .quote-summary-th,
.quote-summary-td + .quote-summary-td {
  margin-top: 0.5rem;
}

.quote-summary-th {
  text-align: left;
  font-weight: 300;
  font-size: 0.9rem;
  border-radius: 5px 0 0 5px;
}

.quote-summary-td {
  justify-content: flex-end;
  border-radius: 0 5px 5px 0;
}

@media (max-width: 430px) {
  .quote-summary-table-container {
    flex-direction: column;
  }

  .quote-summary-table + .quote-summary-table {
    margin-left: 0rem;
  }
}
