.valuation-nav {
  margin-bottom: 1rem;
}

.valuation-nav-btn {
  cursor: pointer;
  background: none;
  border: 1px solid grey;
  padding: 0.25rem 0.5rem;
}

.valuation-nav-btn:hover {
  background: #eee;
}

.valuation-nav-btn + .valuation-nav-btn {
  border-left: none;
}

.valuation-nav-btn:disabled {
  cursor: default;
  color: white;
  background: #148eff;
  border: 1px solid #148eff;
}
