.quote-news-loading-container {
  margin-top: 1rem;
  width: 100%;
  background: #ddd;
  padding: 1rem;
  border-radius: 10px;
}

.quote-news-loading-div1 {
  width: 30%;
  padding-top: 25%;
  background: #eee;
  border-radius: 10px;
}
/* 
@media (max-width: 800px) {
  .quote-news-loading-container {
    padding-top: 50%;
  }

  .quote-news-loading-div1 {
    width: 100%;
  }
} */
