.timeframe {
  display: flex;
  margin-bottom: 0.5rem;
}

.timeframe-btn {
  cursor: pointer;
  background: none;
  border: 1px solid grey;
  padding: 0.25rem 0.5rem;
}

.timeframe-btn:hover {
  background: #eee;
}

.timeframe-btn + .timeframe-btn {
  border-left: none;
}

.timeframe-btn:disabled {
  cursor: default;
  color: white;
  background: #148eff;
  border: 1px solid #148eff;
}
