.quote-table-container {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.quote-table + .quote-table {
  margin-left: 1rem;
}

.quote-table {
  border-collapse: collapse;
  display: flex;
  width: 100%;
}

.quote-tbody,
.quote-thead,
.quote-tr {
  display: block;
  width: 100%;
}

.quote-th,
.quote-td {
  display: block;
  height: 2rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.quote-th {
  text-align: left;
  font-weight: 300;
  font-size: 0.9rem;
}

.quote-td {
  justify-content: flex-end;
}

@media (max-width: 430px) {
  .quote-table-container {
    flex-direction: column;
  }

  .quote-table + .quote-table {
    margin-left: 0rem;
  }
}
