.quote-nav-container {
  margin-bottom: 1rem;
}

.quote-nav-ul {
  list-style: none;
  display: flex;
  position: relative;
  overflow: auto;
  scrollbar-width: 20px !important;
}

.quote-nav-ul::-webkit-scrollbar {
  height: 8px; /* width of the entire scrollbar */
}
.quote-nav-ul::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}
.quote-nav-ul::-webkit-scrollbar-thumb {
  background-color: #ccc; /* color of the scroll thumb */
  border-radius: 200px; /* roundness of the scroll thumb */
  border: 1px solid white; /* creates padding around scroll thumb */
}

.quote-nav-li {
  border: 1px solid #ccc;
}

.quote-nav-li + .quote-nav-li {
  border-left: none;
}

.quote-nav-btn {
  padding: 0.5rem 1.5rem;
  color: black;
  font-weight: 300;
  font-size: 0.8rem;
  background: white;
  border: none;
}

.quote-nav-btn.active {
  background: #ccc;
}

.quote-nav-btn:focus {
  outline: none;
}

.quote-nav-btn.inactive:hover {
  background: #eee;
  cursor: pointer;
}
