.home-container {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 1rem;
}

@media (max-width: 1000px) {
  .home-section-two {
    display: none;
  }

  .home-container {
    display: block;
  }
}
