.bottom-news-loading {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.bottom-news-loading__item {
  background: #ddd;
  border-radius: 10px;
  min-height: 10rem;
}

.bottom-news-loading__div {
  width: 30%;
  height: 100%;
  background: #ccc;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .bottom-news-loading {
    grid-template-columns: 1fr;
  }
}
