header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fafafa;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}

.mobile-header {
  display: none;
}

.header-bar-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.hamburger {
  display: none;
}

.logo-link {
  text-decoration: none;
}

.logo-content {
  color: #006acc;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.watchlist-link {
  text-decoration: none;
}

.watchlist-btn {
  background: #006acc;
  color: white;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border: none;
}

.watchlist-btn:hover {
  background: #148eff;
  cursor: pointer;
}

@media (max-width: 600px) {
  .mobile-header {
    display: block;
  }

  .desktop-header {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 1.5rem;
  }
}
