.home-container {
  display: flex;
  justify-content: space-between;
}

.home-primary-column {
  margin-right: 1rem;
}

.home-secondary-column {
  align-self: flex-start;
  min-width: 300px;
  background: rgba(224, 230, 255, 0.5);
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .home-primary-column {
    width: 100%;
    margin-right: 0;
  }

  .home-secondary-column {
    display: none;
  }
}
