.loading-news-list-container {
  margin-top: 1rem;
  width: 100%;
  background: #ddd;
  padding: 1rem;
  border-radius: 10px;
}

.loading-news-list-div1 {
  width: 30%;
  padding-top: 30%;
  background: #eee;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .loading-news-list-container {
    padding-top: 50%;
  }

  .loading-news-list-div1 {
    width: 100%;
  }
}
