.loading-main-news-container {
  width: 100%;
  background: #ddd;
  padding: 1rem;
  padding-top: 50%;

  border-radius: 10px;
}

.loading-main-news-div1 {
  width: 100%;
  margin: 0 auto;
  background: #eee;
  padding-top: 30%;
  border-radius: 10px;
}
