.nav-list {
  list-style: none;
  display: flex;
}

.nav-item + .nav-item {
  padding-left: 1.5rem;
}

.nav-item {
  position: relative;
}

.nav-link {
  padding: 0.5rem 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  color: black;
  height: 100%;
  position: relative;
  transition: color 200ms ease-in-out;
}

.nav-link:hover {
  color: #555;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: blue;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 200ms ease-in-out;
}

.nav-link:hover::after {
  transform: scale(1, 1);
}
