.pricelist-table-container {
  overflow: auto;
}

.pricelist-table {
  border-spacing: 0 12px;
  width: 100%;
}

.pricelist-tr--loading {
  height: 2rem;
  background: #eee;
  width: 100%;
}

.pricelist-td:first-child,
.pricelist-th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pricelist-td:last-child,
.pricelist-th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pricelist-th {
  white-space: nowrap;
  font-size: 0.85rem;
  font-weight: 700;
}

.pricelist-td {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.pricelist-th,
.pricelist-td {
  text-align: center;
  padding: 0.5rem;
  background: #eee;
}

.pricelist-th + .pricelist-th,
.pricelist-td + .pricelist-td {
  padding-left: 1rem;
}

.symbol-link {
  color: #006acc;
  text-decoration: none;
}

.symbol-link:hover {
  text-decoration: underline;
}

@media (max-width: 460px) {
  .pricelist-th + .pricelist-th,
  .pricelist-td + .pricelist-td {
    padding-left: 0.25rem;
  }

  .pricelist-td {
    font-size: 0.8rem;
  }
}
