.pricelist {
  list-style: none;
}

.pricelist-item + .pricelist-item {
  margin-top: 1rem;
}

.pricelist-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.pricelist-link {
  color: #006acc;
  text-decoration: none;
}

.pricelist-link:hover {
  color: #148eff;
}

.pricelist-table-container {
  overflow: auto;
}

.pricelist-table {
  border-spacing: 0 12px;
  width: 100%;
}

.pricelist-td:first-child,
.pricelist-th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pricelist-td:last-child,
.pricelist-th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pricelist-th {
  white-space: nowrap;
  font-size: 0.85rem;
  font-weight: 700;
}

.pricelist-td {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.pricelist-th,
.pricelist-td {
  padding: 0.5rem;
  background: #eee;
}

.pricelist-th + .pricelist-th,
.pricelist-td + .pricelist-td {
  padding-left: 1rem;
}

.symbol-link {
  color: #006acc;
  text-decoration: none;
}

.symbol-link:hover {
  text-decoration: underline;
}

.loading-pricelist-td {
}

.loading-pricelist-td-content {
  padding: 0.5rem 0;
  background: #ddd;
  border-radius: 5px;
}

.watchlist-empty-msg {
  text-align: center;
  position: relative;
  top: 40%;
}

@media (max-width: 1000px) {
  .pricelist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .pricelist-item + .pricelist-item {
    margin-top: 0rem;
  }
}

@media (max-width: 850px) {
  .pricelist {
    display: block;
  }

  .pricelist-item + .pricelist-item {
    margin-top: 1rem;
  }
}

@media (max-width: 460px) {
  .pricelist-th + .pricelist-th,
  .pricelist-td + .pricelist-td {
    padding-left: 0.25rem;
  }

  .pricelist-td {
    font-size: 0.8rem;
  }
}
