.footer {
  background: #eee;
  margin-top: 3rem;
  text-align: center;
}

.footer__container {
  padding: 3rem 0;
}

.footer__credits {
  padding: 0.5rem 0;
  background: #ccc;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
}

.footer__logo {
  display: inline-block;
  text-decoration: none;
  color: #006acc;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer__logo:hover {
  color: #148eff;
}

.footer__search-container {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 1rem;
}
