.bottom-news__item {
  display: flex;
  justify-content: space-between;
  background: #eee;
}

.bottom-news__item--loading {
  width: 100%;
  background: #ddd;
  border-radius: 10px;
}

.bottom-news__image-container {
  width: 30%;
}

.bottom-news__image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.bottom-news__content {
  width: 69%;
  padding: 0.5rem;
}

.bottom-news__heading {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.bottom-news__link {
  color: #003487;
  text-decoration: none;
}

.bottom-news__link:hover {
  color: #006acc;
}

.bottom-news__meta {
  color: #555;
  font-size: 0.9rem;
}

.bottom-news__text {
  margin-top: 0.5rem;
  font-size: 0.85rem;
}
