/* .bottom-news__ul--loading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.bottom-news__item--loading {
  width: 100%;
  background: #ddd;
  padding: 1rem;
  border-radius: 10px;
}

.bottom-news__div--loading {
  width: 30%;
  padding-top: 25%;
  background: #eee;
  border-radius: 10px;
} */
