.results {
  margin: 1rem 0;
  list-style: none;
}

.result {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  background: #eee;
  align-items: center;
  border-radius: 3px;
}

.result-link {
  color: #006acc;
  text-decoration: none;
  font-size: 1.2rem;
}

.result-link:hover {
  color: #148eff;
}

.result-heading {
  margin-bottom: 0.5rem;
}

.result-desc {
  font-weight: 300;
}

.view-quote-btn {
  display: none;
  background: #006acc;
  border: 1px solid #006acc;
  padding: 0.75em 1em;
  border-radius: 3px;
  margin-right: 0.5rem;
}

.view-quote-btn:hover {
  background: #148eff;
  border: 1px solid #148eff;
  cursor: pointer;
}

.view-quote-link {
  display: inline-block;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.save-result-btn {
  flex-shrink: 0;
  border: 1px solid #006acc;
  padding: 0.75em 1em;
  background: none;
  color: #006acc;
  border-radius: 3px;
}

.save-result-btn:hover {
  background: #006acc;
  cursor: pointer;
  color: white;
}

@media (max-width: 600px) {
  .result {
    flex-direction: column;
    text-align: center;
  }

  .result-desc {
    margin-bottom: 1rem;
  }

  .view-quote-btn {
    display: inline-block;
  }

  .view-quote-btn,
  .save-result-btn {
    margin-bottom: 0.5rem;
    text-align: center;
  }
}
