.loading-main-news {
  width: 100%;
  background: #ddd;
  padding: 1rem;
  padding-top: 50%;

  border-radius: 10px;
}

.loading-main-news__div {
  width: 100%;
  margin: 0 auto;
  background: #eee;
  padding-top: 30%;
  border-radius: 10px;
}

.main-news__item {
  margin-bottom: 1rem;
}

.main-news__image {
  width: 100%;
  padding-top: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-news__content {
  align-self: flex-end;
  background: rgba(0, 2, 69, 0.8);
  color: white;
  padding: 1rem;
}

.main-news__heading {
  margin-bottom: 0.5rem;
}

.main-news__heading a {
  color: white;
  text-decoration: none;
}

.main-news__heading a:hover {
  color: #ddd;
  text-decoration: none;
}

.main-news__meta {
  color: #ccc;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 600px) {
  .main-news__heading {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .main-news__heading {
    font-size: 1.3rem;
  }
}
