.mobile-header {
  display: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fafafa;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  z-index: 100;
}

.header {
  display: grid;
  grid-template-columns: auto auto auto;
}

.header-logo {
  margin-top: 0.5rem;
  text-decoration: none;
  color: #006acc;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.header-nav-container {
  grid-column: 1 / 4;
}

.header-logo:hover {
  color: #148eff;
}

.header-watchlist-container {
  display: flex;
  justify-content: flex-end;
}

.header-watchlist-link {
  display: inline-block;
  text-decoration: none;
  color: #006acc;
  border-radius: 3px;
  font-size: 0.95rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border: 1px solid #006acc;
}

.header-watchlist-link:hover {
  background: #006acc;
  color: white;
  cursor: pointer;
}

.header-hamburger {
  display: none;
}

@media (max-width: 700px) {
  .header-logo {
    grid-column: 1;
  }

  .header-search-container {
    grid-column: 1/4;
  }

  .header-hamburger {
    grid-row: 1;
    grid-column: 3;
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: auto;
    margin-top: 0.5rem;
  }

  .header-watchlist-container {
    display: inline-block;
  }

  .scroll-down {
    display: none;
  }
}
