.real-data-container {
  display: flex;
  align-items: center;
}

.real-data-label {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  font-weight: 300;
}

/* The switch - the box around the slider */
.real-data-toggle {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.real-data-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.real-data-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.real-data-slider:before {
  position: absolute;
  content: '';
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.real-data-checkbox:checked + .real-data-slider {
  background-color: #148eff;
}

.real-data-checkbox:checked + .real-data-slider:before {
  transform: translateX(13px);
}

@media (max-width: 700px) {
  .real-data-container {
    margin-bottom: 0.5rem;
  }
}
