.search-form {
  display: flex;
}

.search-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 3px 0px 0px 3px;
  outline: none;
}

.search-link {
  display: flex;
  text-decoration: none;
  width: 20%;
}

.search-btn {
  border-radius: 0px 3px 3px 0px;
  background: #148eff;
  border: none;
  width: 100%;
  display: inline-block;
}

.search-btn:hover {
  background: #006acc;
  cursor: pointer;
}

.search-icon {
  color: white;
  font-size: 1rem;
}

@media (max-width: 700px) {
  .search-form {
    align-self: start;
    margin-bottom: 0.5rem;
    width: 100%;
  }
}
