.table {
  display: block;
  overflow-x: auto;
  border-spacing: 0;
  width: 100%;
  font-size: 0.875rem;
  border-left: 1px solid #ccc;
}

.table__tr:first-child > td,
.table__tr:first-child > th {
  border-top: 1px solid #ccc;
}

.table__link {
  color: #006acc;
  font-weight: 700;
  text-decoration: none;
}

.table__link:hover {
  color: #148eff;
}

.table__th {
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.table__td {
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 0.875rem;
}

.table__thead .table__th-sticky {
  border-top: 1px solid #ccc;
}

.table__th-sticky {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: sticky;
  left: 0;
  background: white;
  font-weight: 700;
  text-align: left;
}

.table__th-sticky:after {
  content: ' ';
  height: 100%;
  position: absolute;
  top: 0;
  width: 10px;
}

.table__th-sticky:after {
  box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.4) inset;
  right: -10px;
}

.table__th,
.table__th-sticky,
.table__td {
  padding: 0 1em;
  height: 2.5em;
  white-space: nowrap;
}

@media (max-width: 500px) {
  .table__th,
  .table__th-sticky,
  .table__td {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .table__th,
  .table__th-sticky,
  .table__td {
    font-size: 0.8rem;
  }
}
