.exchange-filter__container {
  margin-bottom: 1rem;
}

.exchange-filter__toggle-btn {
  margin-bottom: 1rem;
}

.exchange-filter__form {
  margin-bottom: 1rem;
}

.exchange-filter__label {
  font-size: 0.8rem;
}

.exchange-filter__input {
  margin-right: 0.5rem;
}

.exchange-filter__inputs {
  display: grid;
  grid-template-columns: repeat(5, auto);
  row-gap: 0.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  .exchange-filter__inputs {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 400px) {
  .exchange-filter__inputs {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 300px) {
  .exchange-filter__inputs {
    grid-template-columns: repeat(1, auto);
  }
}
