.stock-table {
  border-spacing: 0 12px;
  width: 100%;
}

.stock-table__td:first-child,
.stock-table__th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.stock-table__td:last-child,
.stock-table__th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.stock-table__th {
  white-space: nowrap;
  font-size: 0.85rem;
  font-weight: 700;
}

.stock-table__td {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.stock-table__th,
.stock-table__td {
  text-align: center;
  padding: 0.5rem;
  background: #eee;
}

.stock-table__th + .stock-table__th,
.stock-table__td + .stock-table__td {
  padding-left: 1rem;
}

.stock-table__symbol {
  color: #006acc;
  text-decoration: none;
}

.stock-table__symbol:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) and (min-width: 1000px) {
  .stock-table__th + .stock-table__th,
  .stock-table__td + .stock-table__td {
    padding-left: 0.25rem;
  }

  .stock-table__td {
    font-size: 0.8rem;
  }
}

@media (max-width: 460px) {
  .stock-table__th + .stock-table__th,
  .stock-table__td + .stock-table__td {
    padding-left: 0.25rem;
  }

  .stock-table__td {
    font-size: 0.8rem;
  }
}
