.stock-page__stocklists {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.stock-page__stock-table {
  width: 32%;
  overflow-x: auto;
  display: grid;
}

.stock-page__sector-table {
  display: grid;
}

.stockpage__sub-heading {
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  font-weight: 400;
  display: inline-block;
  position: relative;
}

.stockpage__sub-heading::after {
  content: '';
  height: 3px;
  width: 50px;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #006acc;
}

@media (max-width: 1200px) and (min-width: 1000px) {
  .stock-page__stock-table {
    width: 32.5%;
  }
}

@media (max-width: 1000px) {
  .stock-page__stocklists {
    flex-direction: column;
  }

  .stock-page__stock-table {
    width: 100%;
  }

  .stock-page__stock-table + .stock-page__stock-table {
    margin-top: 1rem;
  }
}
