@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* The following block keeps the footer at the bottom of the page when there is
not enought content to push it to the bottom */
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}

footer {
  margin-top: auto;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.heading-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 800;
  color: #006acc;
}

.heading-link:hover {
  color: #148eff;
}

.btn {
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  padding: 0.5em 1em;
  font-size: 0.9rem;
}

.btn:hover:enabled {
  cursor: pointer;
}

.btn-blue {
  background: #006acc;
  border-color: #006acc;
  color: white;
}

.btn-blue:hover:not([disabled]) {
  background: #148eff;
  border-color: #148eff;
}

.btn-outline-blue {
  background: rgba(0, 0, 0, 0);
  border-color: #006acc;
  color: #006acc;
}

.btn-outline-blue:hover:not([disabled]) {
  background: #006acc;
  border-color: #006acc;
  color: white;
}

.btn-grey {
  background: #eaeaea;
  border-color: #eaeaea;
  color: black;
}

.btn-grey:hover:not([disabled]) {
  background: #ddd;
  border-color: #ddd;
}

.btn-small {
  font-size: 0.8rem;
}

.btn-round {
  border-radius: 10000px;
}

.link {
  color: #006acc;
  font-weight: 700;
  text-decoration: none;
}

.link:hover {
  color: #148eff;
}

.hidden {
  display: none;
}
