@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}

footer {
  margin-top: auto;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.hidden {
  display: none;
}
