@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1200px;
}

.page-heading {
  text-transform: capitalize;
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 1rem;
}

.page-heading::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  background: #006acc;
  height: 0.15em;
  width: 70%;
}

.hidden {
  display: none;
}
