.pricelist__table-container {
  overflow: auto;
}

.pricelist__table {
  border-spacing: 0 12px;
  width: 100%;
}

.pricelist__tr--loading {
  height: 2rem;
  background: #eee;
  width: 100%;
}

.pricelist__td:first-child,
.pricelist__th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pricelist__td:last-child,
.pricelist__th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pricelist__th {
  white-space: nowrap;
  font-size: 0.85rem;
  font-weight: 700;
}

.pricelist__td {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.pricelist__th,
.pricelist__td {
  text-align: center;
  padding: 0.5rem;
  background: #eee;
}

.pricelist__th + .pricelist__th,
.pricelist__td + .pricelist__td {
  padding-left: 1rem;
}

.symbol-link {
  color: #006acc;
  text-decoration: none;
}

.symbol-link:hover {
  text-decoration: underline;
}

@media (max-width: 460px) {
  .pricelist__th + .pricelist__th,
  .pricelist__td + .pricelist__td {
    padding-left: 0.25rem;
  }

  .pricelist__td {
    font-size: 0.8rem;
  }
}
