.table {
  display: block;
  overflow-x: auto;
  border-spacing: 0;
  width: 100%;
  font-size: 0.875rem;
}

.table-sort-arrow {
  width: 10px;
  height: 10px;
  margin-left: 4px;
}

.table-th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.table-th-btn {
  background: none;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.table-th-btn:focus {
  border: none;
  outline: none;
  text-decoration: underline;
}

.table-th-btn:hover {
  text-decoration: underline;
}

.table-td {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 0.875rem;
}

.table-thead .table-td-sticky,
.table-th-sticky {
  border-top: 1px solid #ccc;
}

.table-td-sticky,
.table-th-sticky {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: sticky;
  left: 0;
  background: white;
}

.table-td-sticky {
  font-weight: 400;
}

.table-td-sticky:after,
.table-th-sticky:after {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 10px;
  box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.4) inset;
  right: -10px;
}

.table-th,
.table-th-sticky,
.table-td-sticky,
.table-td {
  padding: 0.6em 1em;
  white-space: nowrap;
  text-align: left;
  width: 2000px;
}

@media (max-width: 500px) {
  .table-th,
  .table-td-sticky,
  .table-td {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .table-th,
  .table-td-sticky,
  .table-td {
    font-size: 0.8rem;
  }
}
