.table-nav-container {
  margin-bottom: 0.5rem;
}

.table-btn {
  padding: 0.5em 0.75em;
  cursor: pointer;
  border: none;
  background: #ddd;
}

.table-btn + .table-btn {
  margin-left: 1px;
}

.table-btn:disabled {
  background: #bbb;
  cursor: default;
}

.table-btn:hover {
  background: #ccc;
}
