.stock-page__stocklists {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.stock-page__stock-table {
  width: 32%;
  /* overflow-x: auto; */
  display: grid;
}

.stock-page__sector-table {
  display: grid;
}

.stockpage__sub-heading {
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) and (min-width: 1000px) {
  .stock-page__stock-table {
    width: 32.5%;
  }
}

@media (max-width: 1000px) {
  .stock-page__stocklists {
    flex-direction: column;
  }

  .stock-page__stock-table {
    width: 100%;
  }

  .stock-page__stock-table + .stock-page__stock-table {
    margin-top: 1rem;
  }
}
