.stock-page__content {
  display: flex;
  justify-content: space-between;
}

.stock-page__stocklists {
  width: 50%;
}

.stock-page__sector-table {
  width: 47%;
}

.stock-page__sub-heading {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .stock-page__content {
    flex-direction: column;
  }

  .stock-page__stocklists,
  .stock-page__sector-table {
    width: 100%;
  }
}
